In [19]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [20]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.9/dist-packages (3.4.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.9/dist-packages (from pyspark) (0.10.9.7)

In [4]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('my_app').getOrCreate()
bank_copy=spark.read.csv('/content/ML_hw_dataset (1).csv',header=True,inferSchema=True)

In [5]:
#bank_copy.select("age","job").show()
#bank_copy.describe().show()
#bank_copy.dtypes


bank_copy.show()

+---+-----------+--------+-----------------+-------+-------+----+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
|age|        job| marital|        education|default|housing|loan|  contact|month|day_of_week|duration|campaign|pdays|previous|   poutcome|emp_var_rate|cons_price_idx|cons_conf_idx|euribor3m|nr_employed|  y|
+---+-----------+--------+-----------------+-------+-------+----+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
| 44|blue-collar| married|         basic.4y|unknown|    yes|  no| cellular|  aug|        thu|     210|       1|  999|       0|nonexistent|         1.4|        93.444|        -36.1|    4.963|     5228.1|  0|
| 53| technician| married|          unknown|     no|     no|  no| cellular|  nov|        fri|     138|       1|  999|       0|nonexistent|        -0.1|          93.2|        -42.0|    4.021|     5195.8|  0|
| 28| management|  single|university.degree|     no|    yes|  no| cellular|  jun|        thu|     339|       3|    6|       2|    success|        -1.7|        94.055|        -39.8|    0.729|     4991.6|  1|
| 39|   services| married|      high.school|     no|     no|  no| cellular|  apr|        fri|     185|       2|  999|       0|nonexistent|        -1.8|        93.075|        -47.1|    1.405|     5099.1|  0|
| 55|    retired| married|         basic.4y|     no|    yes|  no| cellular|  aug|        fri|     137|       1|    3|       1|    success|        -2.9|        92.201|        -31.4|    0.869|     5076.2|  1|
| 30| management|divorced|         basic.4y|     no|    yes|  no| cellular|  jul|        tue|      68|       8|  999|       0|nonexistent|         1.4|        93.918|        -42.7|    4.961|     5228.1|  0|
| 37|blue-collar| married|         basic.4y|     no|    yes|  no| cellular|  may|        thu|     204|       1|  999|       0|nonexistent|        -1.8|        92.893|        -46.2|    1.327|     5099.1|  0|
| 39|blue-collar|divorced|         basic.9y|     no|    yes|  no| cellular|  may|        fri|     191|       1|  999|       0|nonexistent|        -1.8|        92.893|        -46.2|    1.313|     5099.1|  0|
| 36|     admin.| married|university.degree|     no|     no|  no| cellular|  jun|        mon|     174|       1|    3|       1|    success|        -2.9|        92.963|        -40.8|    1.266|     5076.2|  1|
| 27|blue-collar|  single|         basic.4y|     no|    yes|  no| cellular|  apr|        thu|     191|       2|  999|       1|    failure|        -1.8|        93.075|        -47.1|     1.41|     5099.1|  0|
| 34|  housemaid|  single|university.degree|     no|     no|  no|telephone|  may|        fri|      62|       2|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.864|     5191.0|  0|
| 41| management| married|university.degree|     no|    yes|  no| cellular|  aug|        thu|     789|       1|  999|       0|nonexistent|         1.4|        93.444|        -36.1|    4.964|     5228.1|  0|
| 55| management| married|university.degree|     no|     no|  no| cellular|  aug|        mon|     372|       3|  999|       0|nonexistent|         1.4|        93.444|        -36.1|    4.965|     5228.1|  1|
| 33|   services|divorced|      high.school|     no|    yes|  no| cellular|  may|        tue|      75|       5|  999|       0|nonexistent|        -1.8|        92.893|        -46.2|    1.291|     5099.1|  0|
| 26|     admin.| married|      high.school|     no|     no| yes|telephone|  jun|        mon|    1021|       1|  999|       0|nonexistent|         1.4|        94.465|        -41.8|     4.96|     5228.1|  0|
| 52|   services| married|      high.school|unknown|    yes|  no| cellular|  jul|        thu|     117|       2|  999|       0|nonexistent|         1.4|        93.918|        -42.7|    4.962|     5228.1|  0|
| 35|   services| married|      high.school|     no|     no|  no| cellular|  apr|        thu|    1034|       2|  999|       0|nonexistent|        -1.8|        93.075|        -47.1|    1.365|     5099.1|  1|
| 27|     admin.|  single|university.degree|     no|     no|  no|telephone|  oct|        tue|     540|       1|  999|       0|nonexistent|        -0.1|        93.798|        -40.4|     4.86|     5195.8|  1|
| 28|blue-collar| married|         basic.9y|unknown|     no|  no|telephone|  may|        thu|     140|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|     4.86|     5191.0|  0|
| 26| unemployed|  single|         basic.9y|     no|    yes| yes| cellular|  jul|        mon|     104|       4|  999|       0|nonexistent|         1.4|        93.918|        -42.7|     4.96|     5228.1|  0|
+---+-----------+--------+-----------------+-------+-------+----+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
only showing top 20 rows


missing value

In [6]:
#Null & NAN
from pyspark.sql.functions import isnan,when,count,col

# ساخت یک دیکشنری خالی برای نگه داری تعداد مقادیر نا معتبر هر ستون
null_counts = {}

# بررسی تمام ستون‌های دیتافریم
for i in bank_copy.columns:
    # شمارش تعداد مقادیر نا معتبر در هر ستون و ذخیره آن در دیکشنری
    null_counts[i] = bank_copy.filter(col(i).isNull() | isnan(i)).count()

# چاپ دیکشنری حاوی تعداد مقادیر نا معتبر هر ستون
print(null_counts)

{'age': 0, 'job': 0, 'marital': 0, 'education': 0, 'default': 0, 'housing': 0, 'loan': 0, 'contact': 0, 'month': 0, 'day_of_week': 0, 'duration': 0, 'campaign': 0, 'pdays': 0, 'previous': 0, 'poutcome': 0, 'emp_var_rate': 0, 'cons_price_idx': 0, 'cons_conf_idx': 0, 'euribor3m': 0, 'nr_employed': 0, 'y': 0}

ما 4118 نمونه و 21 ویژگی داریم. اطلاعات می گوید هیچ مقدار تهی وجود ندارد.

************************************************************************

outlier    ==> روش IQR

In [7]:
"""from pyspark.sql.functions import col

numeric_cols = [c for c, t in bank_copy.dtypes if t in ['int', 'double', 'float', 'long']]

# محاسبه‌ی محدوده‌ی IQR
for col_name in numeric_cols:
    quantiles = bank_copy.approxQuantile(col_name, [0.25, 0.75], 0.05)
    q1 = quantiles[0]
    q3 = quantiles[1]
    iqr = q3 - q1

# محاسبه‌ی مقدار حد پایین و حد بالای محدوده‌ی IQR
lower_bound = q1 - 1.5 * iqr
upper_bound = q3 + 1.5 * iqr

# تشخیص داده‌هایی که خارج از محدوده‌ی IQR هستند
#outliers = bank_copy.filter((col(col_name) < lower_bound) | (col(col_name) > upper_bound))
#outliers.show()


bank_copy = bank_copy.filter((col(col_name) >= lower_bound) & (col(col_name) <= upper_bound))
bank_copy.show()"""

"from pyspark.sql.functions import col\n\nnumeric_cols = [c for c, t in bank_copy.dtypes if t in ['int', 'double', 'float', 'long']]\n\n# محاسبه\u200cی محدوده\u200cی IQR\nfor col_name in numeric_cols:\n    quantiles = bank_copy.approxQuantile(col_name, [0.25, 0.75], 0.05)\n    q1 = quantiles[0]\n    q3 = quantiles[1]\n    iqr = q3 - q1\n\n# محاسبه\u200cی مقدار حد پایین و حد بالای محدوده\u200cی IQR\nlower_bound = q1 - 1.5 * iqr\nupper_bound = q3 + 1.5 * iqr\n\n# تشخیص داده\u200cهایی که خارج از محدوده\u200cی IQR هستند\n#outliers = bank_copy.filter((col(col_name) < lower_bound) | (col(col_name) > upper_bound))\n#outliers.show()\n\n\nbank_copy = bank_copy.filter((col(col_name) >= lower_bound) & (col(col_name) <= upper_bound))\nbank_copy.show()"

In [8]:
bank_copy.show()

+---+-----------+--------+-----------------+-------+-------+----+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
|age|        job| marital|        education|default|housing|loan|  contact|month|day_of_week|duration|campaign|pdays|previous|   poutcome|emp_var_rate|cons_price_idx|cons_conf_idx|euribor3m|nr_employed|  y|
+---+-----------+--------+-----------------+-------+-------+----+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
| 44|blue-collar| married|         basic.4y|unknown|    yes|  no| cellular|  aug|        thu|     210|       1|  999|       0|nonexistent|         1.4|        93.444|        -36.1|    4.963|     5228.1|  0|
| 53| technician| married|          unknown|     no|     no|  no| cellular|  nov|        fri|     138|       1|  999|       0|nonexistent|        -0.1|          93.2|        -42.0|    4.021|     5195.8|  0|
| 28| management|  single|university.degree|     no|    yes|  no| cellular|  jun|        thu|     339|       3|    6|       2|    success|        -1.7|        94.055|        -39.8|    0.729|     4991.6|  1|
| 39|   services| married|      high.school|     no|     no|  no| cellular|  apr|        fri|     185|       2|  999|       0|nonexistent|        -1.8|        93.075|        -47.1|    1.405|     5099.1|  0|
| 55|    retired| married|         basic.4y|     no|    yes|  no| cellular|  aug|        fri|     137|       1|    3|       1|    success|        -2.9|        92.201|        -31.4|    0.869|     5076.2|  1|
| 30| management|divorced|         basic.4y|     no|    yes|  no| cellular|  jul|        tue|      68|       8|  999|       0|nonexistent|         1.4|        93.918|        -42.7|    4.961|     5228.1|  0|
| 37|blue-collar| married|         basic.4y|     no|    yes|  no| cellular|  may|        thu|     204|       1|  999|       0|nonexistent|        -1.8|        92.893|        -46.2|    1.327|     5099.1|  0|
| 39|blue-collar|divorced|         basic.9y|     no|    yes|  no| cellular|  may|        fri|     191|       1|  999|       0|nonexistent|        -1.8|        92.893|        -46.2|    1.313|     5099.1|  0|
| 36|     admin.| married|university.degree|     no|     no|  no| cellular|  jun|        mon|     174|       1|    3|       1|    success|        -2.9|        92.963|        -40.8|    1.266|     5076.2|  1|
| 27|blue-collar|  single|         basic.4y|     no|    yes|  no| cellular|  apr|        thu|     191|       2|  999|       1|    failure|        -1.8|        93.075|        -47.1|     1.41|     5099.1|  0|
| 34|  housemaid|  single|university.degree|     no|     no|  no|telephone|  may|        fri|      62|       2|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.864|     5191.0|  0|
| 41| management| married|university.degree|     no|    yes|  no| cellular|  aug|        thu|     789|       1|  999|       0|nonexistent|         1.4|        93.444|        -36.1|    4.964|     5228.1|  0|
| 55| management| married|university.degree|     no|     no|  no| cellular|  aug|        mon|     372|       3|  999|       0|nonexistent|         1.4|        93.444|        -36.1|    4.965|     5228.1|  1|
| 33|   services|divorced|      high.school|     no|    yes|  no| cellular|  may|        tue|      75|       5|  999|       0|nonexistent|        -1.8|        92.893|        -46.2|    1.291|     5099.1|  0|
| 26|     admin.| married|      high.school|     no|     no| yes|telephone|  jun|        mon|    1021|       1|  999|       0|nonexistent|         1.4|        94.465|        -41.8|     4.96|     5228.1|  0|
| 52|   services| married|      high.school|unknown|    yes|  no| cellular|  jul|        thu|     117|       2|  999|       0|nonexistent|         1.4|        93.918|        -42.7|    4.962|     5228.1|  0|
| 35|   services| married|      high.school|     no|     no|  no| cellular|  apr|        thu|    1034|       2|  999|       0|nonexistent|        -1.8|        93.075|        -47.1|    1.365|     5099.1|  1|
| 27|     admin.|  single|university.degree|     no|     no|  no|telephone|  oct|        tue|     540|       1|  999|       0|nonexistent|        -0.1|        93.798|        -40.4|     4.86|     5195.8|  1|
| 28|blue-collar| married|         basic.9y|unknown|     no|  no|telephone|  may|        thu|     140|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|     4.86|     5191.0|  0|
| 26| unemployed|  single|         basic.9y|     no|    yes| yes| cellular|  jul|        mon|     104|       4|  999|       0|nonexistent|         1.4|        93.918|        -42.7|     4.96|     5228.1|  0|
+---+-----------+--------+-----------------+-------+-------+----+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
only showing top 20 rows

************************************************************************

StringIndexer

In [9]:
from pyspark.ml.feature import StringIndexer

# تعریف لیستی از نام ستون‌های مورد نظر
columns_to_index = ["job", "marital","education",'default','housing','loan','contact','month','day_of_week','poutcome']
# ایجاد یک شی از کلاس StringIndexer برای هر ستون و اعمال آن بر روی داده
for column in columns_to_index:
    indexer = StringIndexer(inputCol=column, outputCol=column+"_N")
    bank_copy = indexer.fit(bank_copy).transform(bank_copy)

# نمایش دیتافریم جدید
bank_copy.show()

+---+-----------+--------+-----------------+-------+-------+----+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+-----+---------+-----------+---------+---------+------+---------+-------+-------------+----------+
|age|        job| marital|        education|default|housing|loan|  contact|month|day_of_week|duration|campaign|pdays|previous|   poutcome|emp_var_rate|cons_price_idx|cons_conf_idx|euribor3m|nr_employed|  y|job_N|marital_N|education_N|default_N|housing_N|loan_N|contact_N|month_N|day_of_week_N|poutcome_N|
+---+-----------+--------+-----------------+-------+-------+----+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+-----+---------+-----------+---------+---------+------+---------+-------+-------------+----------+
| 44|blue-collar| married|         basic.4y|unknown|    yes|  no| cellular|  aug|        thu|     210|       1|  999|       0|nonexistent|         1.4|        93.444|        -36.1|    4.963|     5228.1|  0|  1.0|      0.0|        4.0|      1.0|      0.0|   0.0|      0.0|    2.0|          0.0|       0.0|
| 53| technician| married|          unknown|     no|     no|  no| cellular|  nov|        fri|     138|       1|  999|       0|nonexistent|        -0.1|          93.2|        -42.0|    4.021|     5195.8|  0|  2.0|      0.0|        6.0|      0.0|      1.0|   0.0|      0.0|    4.0|          4.0|       0.0|
| 28| management|  single|university.degree|     no|    yes|  no| cellular|  jun|        thu|     339|       3|    6|       2|    success|        -1.7|        94.055|        -39.8|    0.729|     4991.6|  1|  4.0|      1.0|        0.0|      0.0|      0.0|   0.0|      0.0|    3.0|          0.0|       2.0|
| 39|   services| married|      high.school|     no|     no|  no| cellular|  apr|        fri|     185|       2|  999|       0|nonexistent|        -1.8|        93.075|        -47.1|    1.405|     5099.1|  0|  3.0|      0.0|        1.0|      0.0|      1.0|   0.0|      0.0|    5.0|          4.0|       0.0|
| 55|    retired| married|         basic.4y|     no|    yes|  no| cellular|  aug|        fri|     137|       1|    3|       1|    success|        -2.9|        92.201|        -31.4|    0.869|     5076.2|  1|  5.0|      0.0|        4.0|      0.0|      0.0|   0.0|      0.0|    2.0|          4.0|       2.0|
| 30| management|divorced|         basic.4y|     no|    yes|  no| cellular|  jul|        tue|      68|       8|  999|       0|nonexistent|         1.4|        93.918|        -42.7|    4.961|     5228.1|  0|  4.0|      2.0|        4.0|      0.0|      0.0|   0.0|      0.0|    1.0|          3.0|       0.0|
| 37|blue-collar| married|         basic.4y|     no|    yes|  no| cellular|  may|        thu|     204|       1|  999|       0|nonexistent|        -1.8|        92.893|        -46.2|    1.327|     5099.1|  0|  1.0|      0.0|        4.0|      0.0|      0.0|   0.0|      0.0|    0.0|          0.0|       0.0|
| 39|blue-collar|divorced|         basic.9y|     no|    yes|  no| cellular|  may|        fri|     191|       1|  999|       0|nonexistent|        -1.8|        92.893|        -46.2|    1.313|     5099.1|  0|  1.0|      2.0|        2.0|      0.0|      0.0|   0.0|      0.0|    0.0|          4.0|       0.0|
| 36|     admin.| married|university.degree|     no|     no|  no| cellular|  jun|        mon|     174|       1|    3|       1|    success|        -2.9|        92.963|        -40.8|    1.266|     5076.2|  1|  0.0|      0.0|        0.0|      0.0|      1.0|   0.0|      0.0|    3.0|          1.0|       2.0|
| 27|blue-collar|  single|         basic.4y|     no|    yes|  no| cellular|  apr|        thu|     191|       2|  999|       1|    failure|        -1.8|        93.075|        -47.1|     1.41|     5099.1|  0|  1.0|      1.0|        4.0|      0.0|      0.0|   0.0|      0.0|    5.0|          0.0|       1.0|
| 34|  housemaid|  single|university.degree|     no|     no|  no|telephone|  may|        fri|      62|       2|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.864|     5191.0|  0|  8.0|      1.0|        0.0|      0.0|      1.0|   0.0|      1.0|    0.0|          4.0|       0.0|
| 41| management| married|university.degree|     no|    yes|  no| cellular|  aug|        thu|     789|       1|  999|       0|nonexistent|         1.4|        93.444|        -36.1|    4.964|     5228.1|  0|  4.0|      0.0|        0.0|      0.0|      0.0|   0.0|      0.0|    2.0|          0.0|       0.0|
| 55| management| married|university.degree|     no|     no|  no| cellular|  aug|        mon|     372|       3|  999|       0|nonexistent|         1.4|        93.444|        -36.1|    4.965|     5228.1|  1|  4.0|      0.0|        0.0|      0.0|      1.0|   0.0|      0.0|    2.0|          1.0|       0.0|
| 33|   services|divorced|      high.school|     no|    yes|  no| cellular|  may|        tue|      75|       5|  999|       0|nonexistent|        -1.8|        92.893|        -46.2|    1.291|     5099.1|  0|  3.0|      2.0|        1.0|      0.0|      0.0|   0.0|      0.0|    0.0|          3.0|       0.0|
| 26|     admin.| married|      high.school|     no|     no| yes|telephone|  jun|        mon|    1021|       1|  999|       0|nonexistent|         1.4|        94.465|        -41.8|     4.96|     5228.1|  0|  0.0|      0.0|        1.0|      0.0|      1.0|   1.0|      1.0|    3.0|          1.0|       0.0|
| 52|   services| married|      high.school|unknown|    yes|  no| cellular|  jul|        thu|     117|       2|  999|       0|nonexistent|         1.4|        93.918|        -42.7|    4.962|     5228.1|  0|  3.0|      0.0|        1.0|      1.0|      0.0|   0.0|      0.0|    1.0|          0.0|       0.0|
| 35|   services| married|      high.school|     no|     no|  no| cellular|  apr|        thu|    1034|       2|  999|       0|nonexistent|        -1.8|        93.075|        -47.1|    1.365|     5099.1|  1|  3.0|      0.0|        1.0|      0.0|      1.0|   0.0|      0.0|    5.0|          0.0|       0.0|
| 27|     admin.|  single|university.degree|     no|     no|  no|telephone|  oct|        tue|     540|       1|  999|       0|nonexistent|        -0.1|        93.798|        -40.4|     4.86|     5195.8|  1|  0.0|      1.0|        0.0|      0.0|      1.0|   0.0|      1.0|    6.0|          3.0|       0.0|
| 28|blue-collar| married|         basic.9y|unknown|     no|  no|telephone|  may|        thu|     140|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|     4.86|     5191.0|  0|  1.0|      0.0|        2.0|      1.0|      1.0|   0.0|      1.0|    0.0|          0.0|       0.0|
| 26| unemployed|  single|         basic.9y|     no|    yes| yes| cellular|  jul|        mon|     104|       4|  999|       0|nonexistent|         1.4|        93.918|        -42.7|     4.96|     5228.1|  0|  9.0|      1.0|        2.0|      0.0|      0.0|   1.0|      0.0|    1.0|          1.0|       0.0|
+---+-----------+--------+-----------------+-------+-------+----+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+-----+---------+-----------+---------+---------+------+---------+-------+-------------+----------+
only showing top 20 rows

correlation

In [10]:
from pyspark.sql.functions import corr
numeric_cols=["age","duration","campaign","pdays","previous","emp_var_rate","cons_price_idx","cons_conf_idx","euribor3m","nr_employed",'job_N','marital_N','education_N','default_N','housing_N','loan_N','contact_N','month_N','day_of_week_N','poutcome_N','y']
l=[]
for col in numeric_cols:
    correlation = bank_copy.select(corr("y", col)).collect()[0][0]
    if correlation is not None and (correlation>0.1 or correlation<-0.1):
        l.append(col)
        print(f"The correlation between 'label' and {col} is {correlation}")
print(l)

The correlation between 'label' and duration is 0.4052738006793088
The correlation between 'label' and pdays is -0.32491447761663295
The correlation between 'label' and previous is 0.23018100321659
The correlation between 'label' and emp_var_rate is -0.2983344261593787
The correlation between 'label' and cons_price_idx is -0.13621121281925005
The correlation between 'label' and euribor3m is -0.3077714039407199
The correlation between 'label' and nr_employed is -0.35467829592143435
The correlation between 'label' and contact_N is -0.14477305571200028
The correlation between 'label' and month_N is 0.22268368982305878
The correlation between 'label' and poutcome_N is 0.2703731053271902
The correlation between 'label' and y is 1.0
['duration', 'pdays', 'previous', 'emp_var_rate', 'cons_price_idx', 'euribor3m', 'nr_employed', 'contact_N', 'month_N', 'poutcome_N', 'y']

In [11]:
R=['duration', 'pdays', 'previous', 'emp_var_rate', 'cons_price_idx', 'euribor3m', 'nr_employed', 'contact_N', 'month_N', 'poutcome_N']

In [12]:
bank_copy.select(R).show()

+--------+-----+--------+------------+--------------+---------+-----------+---------+-------+----------+
|duration|pdays|previous|emp_var_rate|cons_price_idx|euribor3m|nr_employed|contact_N|month_N|poutcome_N|
+--------+-----+--------+------------+--------------+---------+-----------+---------+-------+----------+
|     210|  999|       0|         1.4|        93.444|    4.963|     5228.1|      0.0|    2.0|       0.0|
|     138|  999|       0|        -0.1|          93.2|    4.021|     5195.8|      0.0|    4.0|       0.0|
|     339|    6|       2|        -1.7|        94.055|    0.729|     4991.6|      0.0|    3.0|       2.0|
|     185|  999|       0|        -1.8|        93.075|    1.405|     5099.1|      0.0|    5.0|       0.0|
|     137|    3|       1|        -2.9|        92.201|    0.869|     5076.2|      0.0|    2.0|       2.0|
|      68|  999|       0|         1.4|        93.918|    4.961|     5228.1|      0.0|    1.0|       0.0|
|     204|  999|       0|        -1.8|        92.893|    1.327|     5099.1|      0.0|    0.0|       0.0|
|     191|  999|       0|        -1.8|        92.893|    1.313|     5099.1|      0.0|    0.0|       0.0|
|     174|    3|       1|        -2.9|        92.963|    1.266|     5076.2|      0.0|    3.0|       2.0|
|     191|  999|       1|        -1.8|        93.075|     1.41|     5099.1|      0.0|    5.0|       1.0|
|      62|  999|       0|         1.1|        93.994|    4.864|     5191.0|      1.0|    0.0|       0.0|
|     789|  999|       0|         1.4|        93.444|    4.964|     5228.1|      0.0|    2.0|       0.0|
|     372|  999|       0|         1.4|        93.444|    4.965|     5228.1|      0.0|    2.0|       0.0|
|      75|  999|       0|        -1.8|        92.893|    1.291|     5099.1|      0.0|    0.0|       0.0|
|    1021|  999|       0|         1.4|        94.465|     4.96|     5228.1|      1.0|    3.0|       0.0|
|     117|  999|       0|         1.4|        93.918|    4.962|     5228.1|      0.0|    1.0|       0.0|
|    1034|  999|       0|        -1.8|        93.075|    1.365|     5099.1|      0.0|    5.0|       0.0|
|     540|  999|       0|        -0.1|        93.798|     4.86|     5195.8|      1.0|    6.0|       0.0|
|     140|  999|       0|         1.1|        93.994|     4.86|     5191.0|      1.0|    0.0|       0.0|
|     104|  999|       0|         1.4|        93.918|     4.96|     5228.1|      0.0|    1.0|       0.0|
+--------+-----+--------+------------+--------------+---------+-----------+---------+-------+----------+
only showing top 20 rows

VectorAssembler

In [13]:
from pyspark.ml.feature import VectorAssembler

# ستون‌هایی که باید وارد VectorAssembler شوند
inputCols = R

# نام ستونی که در خروجی VectorAssembler قرار میگیرد
outputCol = "assembled_features_new"

# ساخت یک شی از کلاس VectorAssembler
assembler = VectorAssembler(inputCols=inputCols, outputCol=outputCol)

# تبدیل داده‌های ورودی به فرمت VectorAssembler
bank_copy = assembler.transform(bank_copy)

# نمایش دیتافریم جدید
#bank_copy.select(features).show()
bank_copy.show()

+---+-----------+--------+-----------------+-------+-------+----+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+-----+---------+-----------+---------+---------+------+---------+-------+-------------+----------+----------------------+
|age|        job| marital|        education|default|housing|loan|  contact|month|day_of_week|duration|campaign|pdays|previous|   poutcome|emp_var_rate|cons_price_idx|cons_conf_idx|euribor3m|nr_employed|  y|job_N|marital_N|education_N|default_N|housing_N|loan_N|contact_N|month_N|day_of_week_N|poutcome_N|assembled_features_new|
+---+-----------+--------+-----------------+-------+-------+----+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+-----+---------+-----------+---------+---------+------+---------+-------+-------------+----------+----------------------+
| 44|blue-collar| married|         basic.4y|unknown|    yes|  no| cellular|  aug|        thu|     210|       1|  999|       0|nonexistent|         1.4|        93.444|        -36.1|    4.963|     5228.1|  0|  1.0|      0.0|        4.0|      1.0|      0.0|   0.0|      0.0|    2.0|          0.0|       0.0|  [210.0,999.0,0.0,...|
| 53| technician| married|          unknown|     no|     no|  no| cellular|  nov|        fri|     138|       1|  999|       0|nonexistent|        -0.1|          93.2|        -42.0|    4.021|     5195.8|  0|  2.0|      0.0|        6.0|      0.0|      1.0|   0.0|      0.0|    4.0|          4.0|       0.0|  [138.0,999.0,0.0,...|
| 28| management|  single|university.degree|     no|    yes|  no| cellular|  jun|        thu|     339|       3|    6|       2|    success|        -1.7|        94.055|        -39.8|    0.729|     4991.6|  1|  4.0|      1.0|        0.0|      0.0|      0.0|   0.0|      0.0|    3.0|          0.0|       2.0|  [339.0,6.0,2.0,-1...|
| 39|   services| married|      high.school|     no|     no|  no| cellular|  apr|        fri|     185|       2|  999|       0|nonexistent|        -1.8|        93.075|        -47.1|    1.405|     5099.1|  0|  3.0|      0.0|        1.0|      0.0|      1.0|   0.0|      0.0|    5.0|          4.0|       0.0|  [185.0,999.0,0.0,...|
| 55|    retired| married|         basic.4y|     no|    yes|  no| cellular|  aug|        fri|     137|       1|    3|       1|    success|        -2.9|        92.201|        -31.4|    0.869|     5076.2|  1|  5.0|      0.0|        4.0|      0.0|      0.0|   0.0|      0.0|    2.0|          4.0|       2.0|  [137.0,3.0,1.0,-2...|
| 30| management|divorced|         basic.4y|     no|    yes|  no| cellular|  jul|        tue|      68|       8|  999|       0|nonexistent|         1.4|        93.918|        -42.7|    4.961|     5228.1|  0|  4.0|      2.0|        4.0|      0.0|      0.0|   0.0|      0.0|    1.0|          3.0|       0.0|  [68.0,999.0,0.0,1...|
| 37|blue-collar| married|         basic.4y|     no|    yes|  no| cellular|  may|        thu|     204|       1|  999|       0|nonexistent|        -1.8|        92.893|        -46.2|    1.327|     5099.1|  0|  1.0|      0.0|        4.0|      0.0|      0.0|   0.0|      0.0|    0.0|          0.0|       0.0|  [204.0,999.0,0.0,...|
| 39|blue-collar|divorced|         basic.9y|     no|    yes|  no| cellular|  may|        fri|     191|       1|  999|       0|nonexistent|        -1.8|        92.893|        -46.2|    1.313|     5099.1|  0|  1.0|      2.0|        2.0|      0.0|      0.0|   0.0|      0.0|    0.0|          4.0|       0.0|  [191.0,999.0,0.0,...|
| 36|     admin.| married|university.degree|     no|     no|  no| cellular|  jun|        mon|     174|       1|    3|       1|    success|        -2.9|        92.963|        -40.8|    1.266|     5076.2|  1|  0.0|      0.0|        0.0|      0.0|      1.0|   0.0|      0.0|    3.0|          1.0|       2.0|  [174.0,3.0,1.0,-2...|
| 27|blue-collar|  single|         basic.4y|     no|    yes|  no| cellular|  apr|        thu|     191|       2|  999|       1|    failure|        -1.8|        93.075|        -47.1|     1.41|     5099.1|  0|  1.0|      1.0|        4.0|      0.0|      0.0|   0.0|      0.0|    5.0|          0.0|       1.0|  [191.0,999.0,1.0,...|
| 34|  housemaid|  single|university.degree|     no|     no|  no|telephone|  may|        fri|      62|       2|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.864|     5191.0|  0|  8.0|      1.0|        0.0|      0.0|      1.0|   0.0|      1.0|    0.0|          4.0|       0.0|  [62.0,999.0,0.0,1...|
| 41| management| married|university.degree|     no|    yes|  no| cellular|  aug|        thu|     789|       1|  999|       0|nonexistent|         1.4|        93.444|        -36.1|    4.964|     5228.1|  0|  4.0|      0.0|        0.0|      0.0|      0.0|   0.0|      0.0|    2.0|          0.0|       0.0|  [789.0,999.0,0.0,...|
| 55| management| married|university.degree|     no|     no|  no| cellular|  aug|        mon|     372|       3|  999|       0|nonexistent|         1.4|        93.444|        -36.1|    4.965|     5228.1|  1|  4.0|      0.0|        0.0|      0.0|      1.0|   0.0|      0.0|    2.0|          1.0|       0.0|  [372.0,999.0,0.0,...|
| 33|   services|divorced|      high.school|     no|    yes|  no| cellular|  may|        tue|      75|       5|  999|       0|nonexistent|        -1.8|        92.893|        -46.2|    1.291|     5099.1|  0|  3.0|      2.0|        1.0|      0.0|      0.0|   0.0|      0.0|    0.0|          3.0|       0.0|  [75.0,999.0,0.0,-...|
| 26|     admin.| married|      high.school|     no|     no| yes|telephone|  jun|        mon|    1021|       1|  999|       0|nonexistent|         1.4|        94.465|        -41.8|     4.96|     5228.1|  0|  0.0|      0.0|        1.0|      0.0|      1.0|   1.0|      1.0|    3.0|          1.0|       0.0|  [1021.0,999.0,0.0...|
| 52|   services| married|      high.school|unknown|    yes|  no| cellular|  jul|        thu|     117|       2|  999|       0|nonexistent|         1.4|        93.918|        -42.7|    4.962|     5228.1|  0|  3.0|      0.0|        1.0|      1.0|      0.0|   0.0|      0.0|    1.0|          0.0|       0.0|  [117.0,999.0,0.0,...|
| 35|   services| married|      high.school|     no|     no|  no| cellular|  apr|        thu|    1034|       2|  999|       0|nonexistent|        -1.8|        93.075|        -47.1|    1.365|     5099.1|  1|  3.0|      0.0|        1.0|      0.0|      1.0|   0.0|      0.0|    5.0|          0.0|       0.0|  [1034.0,999.0,0.0...|
| 27|     admin.|  single|university.degree|     no|     no|  no|telephone|  oct|        tue|     540|       1|  999|       0|nonexistent|        -0.1|        93.798|        -40.4|     4.86|     5195.8|  1|  0.0|      1.0|        0.0|      0.0|      1.0|   0.0|      1.0|    6.0|          3.0|       0.0|  [540.0,999.0,0.0,...|
| 28|blue-collar| married|         basic.9y|unknown|     no|  no|telephone|  may|        thu|     140|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|     4.86|     5191.0|  0|  1.0|      0.0|        2.0|      1.0|      1.0|   0.0|      1.0|    0.0|          0.0|       0.0|  [140.0,999.0,0.0,...|
| 26| unemployed|  single|         basic.9y|     no|    yes| yes| cellular|  jul|        mon|     104|       4|  999|       0|nonexistent|         1.4|        93.918|        -42.7|     4.96|     5228.1|  0|  9.0|      1.0|        2.0|      0.0|      0.0|   1.0|      0.0|    1.0|          1.0|       0.0|  [104.0,999.0,0.0,...|
+---+-----------+--------+-----------------+-------+-------+----+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+-----+---------+-----------+---------+---------+------+---------+-------+-------------+----------+----------------------+
only showing top 20 rows

StandardScaler

In [14]:
from pyspark.ml.feature import StandardScaler

# ستونی که باید استانداردسازی شود
inputCol = "assembled_features_new"

# نام ستونی که در خروجی StandardScaler قرار می‌گیرد
outputCol = "standard_features"

# ساخت یک شی از کلاس StandardScaler
scaler = StandardScaler(inputCol=inputCol, outputCol=outputCol)

# تبدیل داده‌های ورودی به فرمت استاندارد شده
scalerModel = scaler.fit(bank_copy)
bank_copy = scalerModel.transform(bank_copy)

# نمایش دیتافریم جدید
bank_copy.show()

+---+-----------+--------+-----------------+-------+-------+----+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+-----+---------+-----------+---------+---------+------+---------+-------+-------------+----------+----------------------+--------------------+
|age|        job| marital|        education|default|housing|loan|  contact|month|day_of_week|duration|campaign|pdays|previous|   poutcome|emp_var_rate|cons_price_idx|cons_conf_idx|euribor3m|nr_employed|  y|job_N|marital_N|education_N|default_N|housing_N|loan_N|contact_N|month_N|day_of_week_N|poutcome_N|assembled_features_new|   standard_features|
+---+-----------+--------+-----------------+-------+-------+----+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+-----+---------+-----------+---------+---------+------+---------+-------+-------------+----------+----------------------+--------------------+
| 44|blue-collar| married|         basic.4y|unknown|    yes|  no| cellular|  aug|        thu|     210|       1|  999|       0|nonexistent|         1.4|        93.444|        -36.1|    4.963|     5228.1|  0|  1.0|      0.0|        4.0|      1.0|      0.0|   0.0|      0.0|    2.0|          0.0|       0.0|  [210.0,999.0,0.0,...|[0.80993755166443...|
| 53| technician| married|          unknown|     no|     no|  no| cellular|  nov|        fri|     138|       1|  999|       0|nonexistent|        -0.1|          93.2|        -42.0|    4.021|     5195.8|  0|  2.0|      0.0|        6.0|      0.0|      1.0|   0.0|      0.0|    4.0|          4.0|       0.0|  [138.0,999.0,0.0,...|[0.53224467680805...|
| 28| management|  single|university.degree|     no|    yes|  no| cellular|  jun|        thu|     339|       3|    6|       2|    success|        -1.7|        94.055|        -39.8|    0.729|     4991.6|  1|  4.0|      1.0|        0.0|      0.0|      0.0|   0.0|      0.0|    3.0|          0.0|       2.0|  [339.0,6.0,2.0,-1...|[1.30747061911544...|
| 39|   services| married|      high.school|     no|     no|  no| cellular|  apr|        fri|     185|       2|  999|       0|nonexistent|        -1.8|        93.075|        -47.1|    1.405|     5099.1|  0|  3.0|      0.0|        1.0|      0.0|      1.0|   0.0|      0.0|    5.0|          4.0|       0.0|  [185.0,999.0,0.0,...|[0.71351641456152...|
| 55|    retired| married|         basic.4y|     no|    yes|  no| cellular|  aug|        fri|     137|       1|    3|       1|    success|        -2.9|        92.201|        -31.4|    0.869|     5076.2|  1|  5.0|      0.0|        4.0|      0.0|      0.0|   0.0|      0.0|    2.0|          4.0|       2.0|  [137.0,3.0,1.0,-2...|[0.52838783132394...|
| 30| management|divorced|         basic.4y|     no|    yes|  no| cellular|  jul|        tue|      68|       8|  999|       0|nonexistent|         1.4|        93.918|        -42.7|    4.961|     5228.1|  0|  4.0|      2.0|        4.0|      0.0|      0.0|   0.0|      0.0|    1.0|          3.0|       0.0|  [68.0,999.0,0.0,1...|[0.26226549291991...|
| 37|blue-collar| married|         basic.4y|     no|    yes|  no| cellular|  may|        thu|     204|       1|  999|       0|nonexistent|        -1.8|        92.893|        -46.2|    1.327|     5099.1|  0|  1.0|      0.0|        4.0|      0.0|      0.0|   0.0|      0.0|    0.0|          0.0|       0.0|  [204.0,999.0,0.0,...|[0.78679647875973...|
| 39|blue-collar|divorced|         basic.9y|     no|    yes|  no| cellular|  may|        fri|     191|       1|  999|       0|nonexistent|        -1.8|        92.893|        -46.2|    1.313|     5099.1|  0|  1.0|      2.0|        2.0|      0.0|      0.0|   0.0|      0.0|    0.0|          4.0|       0.0|  [191.0,999.0,0.0,...|[0.73665748746622...|
| 36|     admin.| married|university.degree|     no|     no|  no| cellular|  jun|        mon|     174|       1|    3|       1|    success|        -2.9|        92.963|        -40.8|    1.266|     5076.2|  1|  0.0|      0.0|        0.0|      0.0|      1.0|   0.0|      0.0|    3.0|          1.0|       2.0|  [174.0,3.0,1.0,-2...|[0.67109111423624...|
| 27|blue-collar|  single|         basic.4y|     no|    yes|  no| cellular|  apr|        thu|     191|       2|  999|       1|    failure|        -1.8|        93.075|        -47.1|     1.41|     5099.1|  0|  1.0|      1.0|        4.0|      0.0|      0.0|   0.0|      0.0|    5.0|          0.0|       1.0|  [191.0,999.0,1.0,...|[0.73665748746622...|
| 34|  housemaid|  single|university.degree|     no|     no|  no|telephone|  may|        fri|      62|       2|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.864|     5191.0|  0|  8.0|      1.0|        0.0|      0.0|      1.0|   0.0|      1.0|    0.0|          4.0|       0.0|  [62.0,999.0,0.0,1...|[0.23912442001521...|
| 41| management| married|university.degree|     no|    yes|  no| cellular|  aug|        thu|     789|       1|  999|       0|nonexistent|         1.4|        93.444|        -36.1|    4.964|     5228.1|  0|  4.0|      0.0|        0.0|      0.0|      0.0|   0.0|      0.0|    2.0|          0.0|       0.0|  [789.0,999.0,0.0,...|[3.04305108696780...|
| 55| management| married|university.degree|     no|     no|  no| cellular|  aug|        mon|     372|       3|  999|       0|nonexistent|         1.4|        93.444|        -36.1|    4.965|     5228.1|  1|  4.0|      0.0|        0.0|      0.0|      1.0|   0.0|      0.0|    2.0|          1.0|       0.0|  [372.0,999.0,0.0,...|[1.43474652009128...|
| 33|   services|divorced|      high.school|     no|    yes|  no| cellular|  may|        tue|      75|       5|  999|       0|nonexistent|        -1.8|        92.893|        -46.2|    1.291|     5099.1|  0|  3.0|      2.0|        1.0|      0.0|      0.0|   0.0|      0.0|    0.0|          3.0|       0.0|  [75.0,999.0,0.0,-...|[0.28926341130872...|
| 26|     admin.| married|      high.school|     no|     no| yes|telephone|  jun|        mon|    1021|       1|  999|       0|nonexistent|         1.4|        94.465|        -41.8|     4.96|     5228.1|  0|  0.0|      0.0|        1.0|      0.0|      1.0|   1.0|      1.0|    3.0|          1.0|       0.0|  [1021.0,999.0,0.0...|[3.93783923928279...|
| 52|   services| married|      high.school|unknown|    yes|  no| cellular|  jul|        thu|     117|       2|  999|       0|nonexistent|         1.4|        93.918|        -42.7|    4.962|     5228.1|  0|  3.0|      0.0|        1.0|      1.0|      0.0|   0.0|      0.0|    1.0|          0.0|       0.0|  [117.0,999.0,0.0,...|[0.45125092164161...|
| 35|   services| married|      high.school|     no|     no|  no| cellular|  apr|        thu|    1034|       2|  999|       0|nonexistent|        -1.8|        93.075|        -47.1|    1.365|     5099.1|  1|  3.0|      0.0|        1.0|      0.0|      1.0|   0.0|      0.0|    5.0|          0.0|       0.0|  [1034.0,999.0,0.0...|[3.98797823057630...|
| 27|     admin.|  single|university.degree|     no|     no|  no|telephone|  oct|        tue|     540|       1|  999|       0|nonexistent|        -0.1|        93.798|        -40.4|     4.86|     5195.8|  1|  0.0|      1.0|        0.0|      0.0|      1.0|   0.0|      1.0|    6.0|          3.0|       0.0|  [540.0,999.0,0.0,...|[2.08269656142282...|
| 28|blue-collar| married|         basic.9y|unknown|     no|  no|telephone|  may|        thu|     140|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|     4.86|     5191.0|  0|  1.0|      0.0|        2.0|      1.0|      1.0|   0.0|      1.0|    0.0|          0.0|       0.0|  [140.0,999.0,0.0,...|[0.53995836777628...|
| 26| unemployed|  single|         basic.9y|     no|    yes| yes| cellular|  jul|        mon|     104|       4|  999|       0|nonexistent|         1.4|        93.918|        -42.7|     4.96|     5228.1|  0|  9.0|      1.0|        2.0|      0.0|      0.0|   1.0|      0.0|    1.0|          1.0|       0.0|  [104.0,999.0,0.0,...|[0.40111193034810...|
+---+-----------+--------+-----------------+-------+-------+----+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+-----+---------+-----------+---------+---------+------+---------+-------+-------------+----------+----------------------+--------------------+
only showing top 20 rows

LogisticRegression

In [16]:
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.evaluation import BinaryClassificationEvaluator

train_data, test_data =bank_copy.randomSplit([0.8, 0.2], seed=100)
accuracy=0
Recall=0
Precision=0
F_Measure=0
n=10
for i in range(n):
  lr = LogisticRegression(labelCol="y", featuresCol="standard_features")
  lrModel = lr.fit(train_data)
  predictions = lrModel.transform(test_data)
  #predictions.show()
  evaluator = BinaryClassificationEvaluator(labelCol="y",rawPredictionCol="rawPrediction")
  predictions = lrModel.transform(test_data)
  predictions.groupBy('y', 'prediction').count().show()
  TN = predictions.filter('prediction = 0 AND y = prediction').count()
  TP = predictions.filter('prediction = 1 AND y = prediction').count()
  FN = predictions.filter('prediction = 0 AND y = 1').count()
  FP = predictions.filter('prediction = 1 AND y = 0').count()
  accuracy =accuracy+ (TN + TP) / (TN + TP + FN + FP)
  Precision =Precision+ TP/(TP+FP)
  Recall =Recall+ TP/(TP+FN)
  F_Measure=F_Measure+(2*Precision*Recall)/(Precision+Recall)


print("Accuracy:", accuracy / n)
print("Precision:", Precision/n)
print("Recall:", Recall / n)
print("F-measure:", F_Measure / n)

+---+----------+-----+
|  y|prediction|count|
+---+----------+-----+
|  1|       0.0|  519|
|  0|       0.0| 7128|
|  1|       1.0|  373|
|  0|       1.0|  200|
+---+----------+-----+

+---+----------+-----+
|  y|prediction|count|
+---+----------+-----+
|  1|       0.0|  519|
|  0|       0.0| 7128|
|  1|       1.0|  373|
|  0|       1.0|  200|
+---+----------+-----+

+---+----------+-----+
|  y|prediction|count|
+---+----------+-----+
|  1|       0.0|  519|
|  0|       0.0| 7128|
|  1|       1.0|  373|
|  0|       1.0|  200|
+---+----------+-----+

+---+----------+-----+
|  y|prediction|count|
+---+----------+-----+
|  1|       0.0|  519|
|  0|       0.0| 7128|
|  1|       1.0|  373|
|  0|       1.0|  200|
+---+----------+-----+

+---+----------+-----+
|  y|prediction|count|
+---+----------+-----+
|  1|       0.0|  519|
|  0|       0.0| 7128|
|  1|       1.0|  373|
|  0|       1.0|  200|
+---+----------+-----+

+---+----------+-----+
|  y|prediction|count|
+---+----------+-----+
|  1|       0.0|  519|
|  0|       0.0| 7128|
|  1|       1.0|  373|
|  0|       1.0|  200|
+---+----------+-----+

+---+----------+-----+
|  y|prediction|count|
+---+----------+-----+
|  1|       0.0|  519|
|  0|       0.0| 7128|
|  1|       1.0|  373|
|  0|       1.0|  200|
+---+----------+-----+

+---+----------+-----+
|  y|prediction|count|
+---+----------+-----+
|  1|       0.0|  519|
|  0|       0.0| 7128|
|  1|       1.0|  373|
|  0|       1.0|  200|
+---+----------+-----+

+---+----------+-----+
|  y|prediction|count|
+---+----------+-----+
|  1|       0.0|  519|
|  0|       0.0| 7128|
|  1|       1.0|  373|
|  0|       1.0|  200|
+---+----------+-----+

+---+----------+-----+
|  y|prediction|count|
+---+----------+-----+
|  1|       0.0|  519|
|  0|       0.0| 7128|
|  1|       1.0|  373|
|  0|       1.0|  200|
+---+----------+-----+

Accuracy: 0.9125304136253043
Precision: 0.650959860383944
Recall: 0.4181614349775785
F-measure: 2.8006825938566555

LinearSVC

در اینجا، ۱۰ بار اجرای مدل را در نظر گرفته‌ایم

In [18]:
from pyspark.ml.classification import LinearSVC
from pyspark.ml.evaluation import BinaryClassificationEvaluator

train_data, test_data = bank_copy.randomSplit([0.8, 0.2], seed=10)

accuracy = 0
recall = 0
precision = 0
f_measure = 0
n = 10

for i in range(n):
    # ایجاد یک شی از کلاس LinearSVC
    lsvc = LinearSVC(labelCol="y", featuresCol="standard_features", maxIter=10)

    # آموزش مدل با داده‌های آموزشی
    lsvcModel = lsvc.fit(train_data)

    # اعمال مدل بر داده‌های تست
    predictions = lsvcModel.transform(test_data)

    # محاسبه معیارات ارزیابی
    evaluator = BinaryClassificationEvaluator(labelCol="y", rawPredictionCol="rawPrediction")
    tn = predictions.filter('prediction = 0 AND y = prediction').count()
    tp = predictions.filter('prediction = 1 AND y = prediction').count()
    fn = predictions.filter('prediction = 0 AND y = 1').count()
    fp = predictions.filter('prediction = 1 AND y = 0').count()
    accuracy += (tn + tp) / (tn + tp + fn + fp)
    precision += tp / (tp + fp)
    recall += tp / (tp + fn)
    f_measure += (2 * precision * recall) / (precision + recall)

print("Accuracy:", accuracy / n)
print("Precision:", precision / n)
print("Recall:", recall / n)
print("F-measure:", f_measure / n)

Accuracy: 0.9037019114444715
Precision: 0.6059322033898306
Recall: 0.3191964285714285
F-measure: 2.299707602339181